body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  #insturmentForm__container{
    background: pink;
    width: 20vw;
    height:40vh;
  }

  .Banner{
    background-color:#FBEBD8 ;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 0%;
    width: 100vw;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo{
    font-family: 'Croissant One', cursive;
    font:300px;
    color:#C83131;
    width:fit-content;
    padding-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Header_Content{
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #iFormButton{
    padding-left: 50px;
  }